.title1{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8762rem;
}

.title1_mobile{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.0475rem;
}

.title2{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.3525rem;
}

.paragraphy{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
}

.robotoParagraphy{
    font-family: var(--font-secundary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1719rem;
}

.label{
    font-family: var(--font-secundary);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.6625rem;
}

.labelMobile{
    font-family: var(--font-secundary);
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 23.16px;
}